
.icon-home:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-book-open:before { content: '\e802'; } /* '' */
.icon-chat-alt:before { content: '\e803'; } /* '' */
.icon-money:before { content: '\e804'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */